<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Users</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/all.css}" />
</head>
</head>
<body>
  <div>
    <table class="table table-bordered table-striped table-hover table-responsive-xl">
      <thead class="thead-dark">
        <tr>
          <th>
            <a th:if="${sortField != 'id'}" class="text-white"
               th:href="@{'/users/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${sortDir}}">
              ID
            </a>
            <a th:if="${sortField == 'id'}" class="text-white"
               th:href="@{'/users/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">
              ID
            </a>

            <span th:if="${sortField == 'id'}"
                  th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}">
            </span>
          </th>

          <th>
            <a th:if="${sortField != 'name'}" class="text-white"
              th:href="@{'/users/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${sortDir}}">
              User
            </a>
            <a th:if="${sortField == 'name'}" class="text-white"
               th:href="@{'/users/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
              User
            </a>

            <span th:if="${sortField == 'name'}"
              th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}">
            </span>
          </th>

          <th>
            <a th:if="${sortField != 'city'}" class="text-white"
               th:href="@{'/users/page/' + ${currentPage} + '?sortField=city&sortDir=' + ${sortDir}}">
              City
            </a>
            <a th:if="${sortField == 'city'}" class="text-white"
               th:href="@{'/users/page/' + ${currentPage} + '?sortField=city&sortDir=' + ${reverseSortDir}}">
              City
            </a>

            <span th:if="${sortField == 'city'}"
                  th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}">
            </span>
          </th>

          <th>
            <a th:if="${sortField != 'state'}" class="text-white"
               th:href="@{'/users/page/' + ${currentPage} + '?sortField=state&sortDir=' + ${sortDir}}">
              State
            </a>
            <a th:if="${sortField == 'state'}" class="text-white"
               th:href="@{'/users/page/' + ${currentPage} + '?sortField=state&sortDir=' + ${reverseSortDir}}">
              State
            </a>

            <span th:if="${sortField == 'state'}"
                  th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}">
            </span>
          </th>

          <th> Zip </th>

          <th>
            <a th:if="${sortField != 'hasEggAllergy'}" class="text-white"
               th:href="@{'/users/page/' + ${currentPage} + '?sortField=hasEggAllergy&sortDir=' + ${sortDir}}">
              Egg allergy
            </a>
            <a th:if="${sortField == 'hasEggAllergy'}" class="text-white"
               th:href="@{'/users/page/' + ${currentPage} + '?sortField=hasEggAllergy&sortDir=' + ${reverseSortDir}}">
              Egg allergy
            </a>

            <span th:if="${sortField == 'hasEggAllergy'}"
                  th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}">
            </span>
          </th>

          <th>
            <a th:if="${sortField != 'hasPeanutAllergy'}" class="text-white"
               th:href="@{'/users/page/' + ${currentPage} + '?sortField=hasPeanutAllergy&sortDir=' + ${sortDir}}">
              Peanut allergy
            </a>
            <a th:if="${sortField == 'hasPeanutAllergy'}" class="text-white"
               th:href="@{'/users/page/' + ${currentPage} + '?sortField=hasPeanutAllergy&sortDir=' + ${reverseSortDir}}">
              Peanut allergy
            </a>

            <span th:if="${sortField == 'hasPeanutAllergy'}"
                  th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}">
            </span>
          </th>

          <th>
            <a th:if="${sortField != 'hasDairyAllergy'}" class="text-white"
               th:href="@{'/users/page/' + ${currentPage} + '?sortField=hasDairyAllergy&sortDir=' + ${sortDir}}">
              Dairy allergy
            </a>
            <a th:if="${sortField == 'hasDairyAllergy'}" class="text-white"
               th:href="@{'/users/page/' + ${currentPage} + '?sortField=hasDairyAllergy&sortDir=' + ${reverseSortDir}}">
              Dairy allergy
            </a>

            <span th:if="${sortField == 'hasDairyAllergy'}"
                  th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}">
            </span>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${users}">
          <td><span th:text="${user.id}"> # </span></td>
          <td><span th:text="${user.name}"> Username </span></td>
          <td><span th:text="${user.city}"> City </span></td>
          <td><span th:text="${user.state}"> State </span></td>
          <td><span th:text="${user.zipCode}"> Zip code </span></td>
          <td>
            <span th:class="${user.hasEggAllergy ? 'badge badge-warning rounded-pill d-inline' : 'badge badge-success rounded-pill d-inline'}"
                  th:text="${user.hasEggAllergy ? 'Yes' : 'No'}"> Egg allergy
            </span>
          </td>

          <td>
            <span th:class="${user.hasPeanutAllergy ? 'badge badge-warning rounded-pill d-inline' : 'badge badge-success rounded-pill d-inline'}"
                  th:text="${user.hasPeanutAllergy ? 'Yes' : 'No'}"> Peanut allergy
            </span>
          </td>
          <td>
            <span th:class="${user.hasDairyAllergy ? 'badge badge-warning rounded-pill d-inline' : 'badge badge-success rounded-pill d-inline'}"
                  th:text="${user.hasDairyAllergy ? 'Yes' : 'No'}"> Dairy allergy
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center m-1" th:if="${totalItems > 0}">
    <span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
  </div>
  <div class="text-center m-1" th:unless="${totalItems > 0}">
    <span>No users found</span>
  </div>

  <nav>
    <ul class="pagination justify-content-center">
      <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
        <a class="page-link" th:href="@{'/users/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
      </li>
      <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
        <a class="page-link" th:href="@{'/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
      </li>

      <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
          th:each="i : ${#numbers.sequence(1, totalPages)}">
        <a class="page-link" th:href="@{'/users/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
      </li>

      <li th:class="${currentPage != totalPages ? 'page-item' : 'page-item disabled'}">
        <a class="page-link" th:href="@{'/users/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
      </li>
      <li th:class="${currentPage != totalPages ? 'page-item' : 'page-item disabled'}">
        <a class="page-link" th:href="@{'/users/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
      </li>
    </ul>
  </nav>
</body>
</html>