<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Users</title>
  <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/all.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>

  <div>
    <form th:action="@{/users/page/1}" class="form-inline m-3">
      <input type="hidden" name="sortField" th:value="${sortField}" />
      <input type="hidden" name="sortDir" th:value="${sortDir}" />

      Filter:&nbsp;
      <input type="search" name="keyword" th:value="${keyword}" class="form-control" required/>
      &nbsp;&nbsp;
      <input type="submit" value="Search" class="btn btn-primary" />
      &nbsp;&nbsp;
      <input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()" />
    </form>
  </div>

  <div>
    <a th:href="@{/users/new}">Add new user</a>
    &nbsp;|&nbsp;
    <a th:href="@{/users/export/csv}">Export to CSV</a>
    &nbsp;|&nbsp;
    <a th:href="@{/users/export/excel}">Export to Excel</a>
    &nbsp;|&nbsp;
    <a th:href="@{/users/export/pdf}">Export to PDF</a>
  </div>

  <div th:if="${message != null}" class="alert alert-success text-center">
    [[${message}]]
  </div>

  <div>
    <table class="table table-bordered table-striped table-hover table-responsive-xl">
      <thead class="thead-dark">
        <tr>
          <th th:replace="fragments :: column_link('id', 'ID')" />
          <th th:replace="fragments :: column_link('name', 'User')" />
          <th th:replace="fragments :: column_link('email', 'E-mail')" />
          <th th:replace="fragments :: column_link('city', 'City')" />
          <th th:replace="fragments :: column_link('state', 'State')" />

          <th> Zip </th>

          <th th:replace="fragments :: column_link('hasEggAllergy', 'Egg allergy')" />
          <th th:replace="fragments :: column_link('hasPeanutAllergy', 'Peanut allergy')" />
          <th th:replace="fragments :: column_link('hasDairyAllergy', 'Dairy allergy')" />
          <th th:replace="fragments :: column_link('enabled', 'Enabled')" />
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${users}">
          <td><span th:text="${user.id}"> # </span></td>
          <td><span th:text="${user.name}"> Username </span></td>
          <td><span th:text="${user.email}"> E-mail </span></td>
          <td><span th:text="${user.city}"> City </span></td>
          <td><span th:text="${user.state}"> State </span></td>
          <td><span th:text="${user.zipCode}"> Zip code </span></td>
          <td class="text-center">
            <span th:class="${user.hasEggAllergy ? 'badge badge-warning rounded-pill d-inline' : 'badge badge-success rounded-pill d-inline'}"
                  th:text="${user.hasEggAllergy ? 'Yes' : 'No'}"> Egg allergy
            </span>
          </td>

          <td class="text-center">
            <span th:class="${user.hasPeanutAllergy ? 'badge badge-warning rounded-pill d-inline' : 'badge badge-success rounded-pill d-inline'}"
                  th:text="${user.hasPeanutAllergy ? 'Yes' : 'No'}"> Peanut allergy
            </span>
          </td>
          <td class="text-center">
            <span th:class="${user.hasDairyAllergy ? 'badge badge-warning rounded-pill d-inline' : 'badge badge-success rounded-pill d-inline'}"
                  th:text="${user.hasDairyAllergy ? 'Yes' : 'No'}"> Dairy allergy
            </span>
          </td>

          <td>
            <a th:if="${user.enabled == true}" class="fas fa-check-circle fa-2x icon-green"
               th:href="@{'/users/' + ${user.name} + '/enabled/false'}"
               title="Disable this user"></a>

            <a th:if="${user.enabled == false}" class="fas fa-circle fa-2x icon-dark"
               th:href="@{'/users/' + ${user.name} + '/enabled/true'}"
               title="Enable this user"></a>
          </td>

          <td>
            <a class="fas fa-edit fa-2x icon-green" th:href="@{'/users/edit/' + ${user.name}}"
                title="Edit this user"></a>
            &nbsp;&nbsp;
            <a class="fas fa-trash fa-2x icon-dark link-delete"
               th:href="@{'/users/delete/' + ${user.id}}"
               th:userId="${user.id}"
               title="Delete this user"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center m-1" th:if="${totalItems > 0}">
    <span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
  </div>
  <div class="text-center m-1" th:unless="${totalItems > 0}">
    <span>No users found</span>
  </div>

  <div th:if="${totalItems > 0}">
    <nav>
      <ul class="pagination justify-content-center">
        <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
          <th th:replace="fragments :: page_link('1', 'First')" />
        </li>
        <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
          <th th:replace="fragments :: page_link(${currentPage - 1}, 'Previous')" />
        </li>

        <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
            th:each="i : ${#numbers.sequence(1, totalPages)}">
          <th th:replace="fragments :: page_link(${i}, ${i})" />
        </li>

        <li th:class="${currentPage != totalPages ? 'page-item' : 'page-item disabled'}">
          <th th:replace="fragments :: page_link(${currentPage + 1}, 'Next')" />
        </li>
        <li th:class="${currentPage != totalPages ? 'page-item' : 'page-item disabled'}">
          <th th:replace="fragments :: page_link(${totalPages}, 'Last')" />
        </li>
      </ul>
    </nav>
  </div>

  <div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete confirmation</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <span id="confirmText"></span>
        </div>

        <div class="modal-footer">
          <a class="btn btn-success" href="" id="yesButton">Yes</a>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">

  $(document).ready(function() {
    $(".link-delete").on("click", function(e) {
      e.preventDefault();
      link = $(this);
      userId = link.attr("userId");
      $("#yesButton").attr("href", link.attr("href"));
      $("#confirmText").text("Are you sure you want to delete this user ID " + userId + "?");
      $("#confirmModal").modal();
    });
  });

  function clearFilter() {
    window.location = "[[@{/users}]]";
  }
</script>
</body>
</html>